<h2 class="m-2">All tasks of <%= @project.name %></h2>

<div class = "card">
  <div class = "card-body" >
    <% @tasks.each do |task| %>
      <div class = "card-title mt-2">
        <h3> Task : <%= task.title %></h3>
        <p class="float-end text-warning rounded-pill bg-dark size text-center" style="width:80px"> <%= task.label %></p>
        <p> Status : <%= task.status %></p>
        <% if current_user.has_role? :employee %>
        <% else %>
          <%#= link_to "Edit Task", edit_project_task_path(id: task.id), class: "btn btn-success mb-2" %> 
          <%= button_to "Delete Task", project_task_path(id: task.id), method: :delete, class: "btn btn-danger" %>
        <% end %>
      </div>

      <div>
        <% task.documents.each do |document| %>
          <% if document.image? %>
            <%= image_tag(document, size: '200x100') %>
          <% elsif document.video? %>
            <%= video_tag(url_for(document), size: '200x90', controls: "") %>
          <% end %>
        <% end %>
      </div>
      
      <div class= "border-bottom border-secondary border-5">
        <div class= "form-outline m-4 p-4 mb-1 ">
        
          <%= form_for([@task,@comment], remote: true) do |form| %>
            <%= form.label :comment, class: "form-label" %>
            <%= form.text_field :comment, class: "form-control border-danger w-25"%>
            
            <div>
              <%= form.submit(class: "btn btn-primary mt-2") %>
            </div>
          <% end %>
          
        </div>
      </div>
    <% end %>
  
    <div class= "mb-4 mt-2">
      <h3>Comments for tasks</h3>
      <% unless @task.nil? %>
        <% @task.comments.each do |c| %>
          <div class=" w-25 p-1 mb-2 bg-secondary bg-gradient text-white"><%= render "projects/avatar" %><span> </span><%= c.user %></div>
          <div class="p-3 mb-1 bg-light bg-gradient text-dark"><%= c.comment %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

