<%= form_with model: project do |form| %>
  <% if project.errors.any? %>
    <div style= "color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>
      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <!--<% if project.errors.any? %>
    <ul>
      <div>
        <% project.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    </ul>
  <% end %>-->

  <div>
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control w-25 border-dark" %>
  </div>

  <div>
    <%= form.label :description, class: "form-label" %>
    <%= form.rich_text_area :description, class: "form-control border-dark w-50" %>
  </div>

  <div>
    <%= form.label :documents, class: "form-label" %>
    <%= form.file_field :documents, multiple: true, class: "form-control border-dark w-25 mb-2" %>
  </div>

  <div>
    <%= form.label :priority, class: "form-label" %><br>
    <%= form.select :priority, Project.priorities.keys,{}, { class: "form-control w-25 border-dark mb-2" } %>
  </div>

  <div>
    <%= form.submit(class:"btn btn-success")%>
  </div>
<% end %>