
<% @tasks.each do |task| %>
  <% if current_user.id == task.reporter_id %>
    <div class="card">
      <div class="card-body">
        <div>
          <h5 class="card-title">Project's Name : <%= link_to task.project.name, project_path(task.project) %></h5>
        </div>

        <div class = "float-end" ><%= select_tag('label', options_from_collection_for_select(Label.all, 'id', 'label'), prompt: "Label") %></div>

        <div>
          <p class="card-text">Description : <%= task.project.description %></p>
        </div>

        <div>
          <% task.project.documents.each do |document| %>
            <% if document.image? %>
              <%= image_tag(document, size: '200x100') %>
            <% elsif document.video? %>
              <%= video_tag(url_for(document), size: '200x90', controls: "") %>
            <% end %>
          <% end %>
        </div>

        <div class = "card-title">
          <h3> Task : <%= task.title %></h3>
          <p> Status : <%= task.status %></p>
        </div>
      </div>
    
      <div class= "mb-4">
        <% unless task.nil? %>
          <% task.comments.each do |c| %>
            <table>
              <tbody>
                <tr>
                  <td><%= current_user.first_name %></td>
                  <td> -> </td>
                  <td><%= c.comment %><br></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>