<div class= "card">
  <div class= "card-body">
    <h2 class= "card-title border-bottom border-5">Project : <%= @project.name %></h2>
    <% if current_user.has_role? :employee %>
    <% else %>
      <h4 class= "card-text">Create Task</h4>
      <%= render "tasks/taskform" %>
    <% end %>
    <div class="btn btn-warning mb-4">
      <%= link_to "See all the tasks", project_tasks_path(@project.id) %>
    </div>

    <h3>Comment Section</h3>
    <%= form_for([@project, @comment], remote: true) do |form| %>
      <%= form.text_field :comment %>

      <%= form.submit :Comment %>
    <% end %>

    <% @project.comments.each do |c| %>
      <table>
        <tbody>
          <tr>
            <td><%= current_user.first_name %></td>
            <td> -> </td>
            <td><%= c.comment %><br></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

