<div class= "card">
  <div class= "card-body">
    <h2 class= "card-title border-bottom border-5">Project : <%= @project.name %></h2>
    <% if current_user.has_role? :employee %> <%# empolyee can not create tasks %>
    <%else %>
      <h4 class= "card-text">Create Task</h4>
      <%= render "tasks/taskform" %>
    <% end %>
    <div class="btn btn-warning mb-4">
      <%= link_to "See all the tasks", project_tasks_path(@project.id) %>
    </div>

    <h3>Comment Section</h3>
    <%= form_for([@project, @comment], remote: true) do |form| %>
      <div>
        <%= form.text_field :comment, class: "form-control w-25 mb-3 border-danger" %>
      </div>
      <div>
        <%= form.submit(class: "btn btn-primary mt-2 mb-2") %>
      </div>
    <% end %>

    <div id="container">
      <% @project.comments.each do |c| %>
        <div class=" w-25 p-1 mb-2 bg-secondary bg-gradient text-white"><%= render "avatar" %><span> </span><%= c.user %></div>
        <div class="p-3 mb-1 bg-light bg-gradient text-dark"><%= c.comment %></div>      
      <% end %>
    </div>
  </div>
</div>

