<h3><%= @daily_status.user.first_name%>'s status has been updated</h3>
<p>Daily Status :- </p>
<p>User's Email : <%= @daily_status.user.email %></p>
<p>Status Date : <%= @daily_status.status_date %></p>
<p>Project : <%= @daily_status.project %></p>
<p>Working Hours : <%= @daily_status.working_hours %></p>
<p>Status : <%= @daily_status.status %></p>
<p>Task : <%= @daily_status.task %></p>
