<!DOCTYPE html>
<html>
  <head>
    <title>ProManApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="/projects">
          <%= image_tag("pic/lofo1.png", alt:"logo", size: "50x50", class: "rounded-circle") %>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Attendance
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/daily_statuses">Daily Status</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/daily_statuses/new">Send Daily Status</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Leaves
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/off_duties/new">Apply Leaves</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/off_duties">My Leaves</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
                <a class="nav-link active"<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>></a>
                
              <%else %>
                <a class="nav-link active"<%= link_to "Login/Sign up", user_session_path, method: :delete %>></a>
              <% end %>
            </li>
            <li class="nav-item">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= @avatar = image_tag(current_user.avatar, size: '40x40') %>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle nav-link active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= current_user.first_name %>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/users/edit">Edit Profile</a></li>
                  </ul>
                </li>
                
              <% else %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div style = "background-color:#D3D3D3" >
    <%= yield %>
    </div>
  </body>
</html>
